@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1 {
    border: 4px #eee solid;
    color: red;
    text-align: center;
    padding: 32px;
}


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
}