@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1 {
    border: 4px #eee solid;
    color: red;
    text-align: center;
    padding: 32px;
}

.container{
    border: 3px solid yellowgreen;
    min-height: 500px;
}

.div1{
border: 2px solid red;
}