{% extends 'base.html' %}

{% block content %}
<h1>
    {% block title %} Envio de nova contribuição {% endblock %}
</h1>


<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Nome do Contribuidor</label>
        <input id="title" type="text" name="title" class="form-control"
               placeholder="Nome do contribuidor" class="form-control"
               value="{{ request.form['title'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="telefone">Número Telefone</label>
        <!--<input type="number" name="telefone"
               placeholder="Número do Telefone" class="form-control"
               value="{{ request.form['telefone'] }}"
        -->
        <input id="telefone" type="tel" name="telefone" class="form-control"
               placeholder="(XX) XXXXX-XXXX" pattern="^\(?\d{2}\)\d{5}[-\s]\d{4}.*?$" class="form-control"
               value="{{ request.form['telefone'] }}">

        </input>
    </div>


    <div class="form-group">
        <label for="campanha">Campanha</label>
        <input = "campanha" type="text" name="campanha" class="form-control"
               placeholder="Nome da Campanha" class="form-control"
               value="{{ request.form['campanha'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="content">Valor da contribuição:</label>
        <textarea name="content" placeholder="valor da contribuição"
                  class="form-control">{{ request.form['content'] }}</textarea>

    </div>

<!--
<input type="file" id="upload"/>
<img id="img" style="width: 500px"/>
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZOsEEamd0YGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
</script>

<script>
    $(function(){
        $('#upload').change(function(){
        const file = $(this)[0].files[0]
        const fileReader = new FileReader()
        fileReader.onloadend = function(){
            $('#img').attr('src',fileReader.result)
        }
        fileReader.readAsDataURL(file)
        })
    })
</script>


--!>


<form action="/upload" enctype="multipart/form-data" method="post">
    <p>
        <!-- <input type="file" name="imagem" id="imagem"> -->
        <!-- <input type="file" name="image" id="imagem" accept="image/*" onchange="document.getElementByID('nomeArquivo).textContent = this.value;"> -->
        <input type="file" class="custom-file-input" name="image" id="imagem" accept="image/*" onchange="atualizarNomeArquivo(this.value)">
    </p>
  <!--  <p>
        <button type="submit"> Enviar Imagem</button>
    </p> --!>
<!--</form> --!>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar contribuição</button>
    </div>

</form>


{% endblock %}


