{% extends 'base.html'%}

{% block content %}
    <h1>{% block title %} Banco de Dados {% endblock %}</h1>

    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id'])}}">
            <h2>{{ post['Nome do Contribuidor'] }}</h2>
        </a>
        <a href="{{ url_for('post', post_id=post['id'])}}">
            <h2>{{ post['valor'] }}</h2>
        </a>
        <a href="{{ url_for('post', post_id=post['id'])}}">
            <h2>{{ post['telefone'] }}</h2>
        </a>
        <a href="{{ url_for('post', post_id=post['id'])}}">
            <h2>{{ post['campanha'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Editar</span>
        </a>
        <hr>
    {% endfor %}

{% endblock %}

