{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Nome do Contribuidor</label>
        <input type="text" name="title" placeholder="Nome do Contribuidor"
               class="form-control"
               value="{{ request.form['title'] or post['title'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="telefone">Telefone</label>
        <textarea name="telefone" placeholder="Telefone"
                  class="form-control">{{ request.form['telefone'] or post['telefone'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="campanha">Campanha</label>
        <textarea name="campanha" placeholder="Campanha"
                  class="form-control">{{ request.form['campanha'] or post['campanha'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="content">Valor</label>
        <textarea name="content" placeholder="Valor"
                  class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
<hr>

<form action="{{ url_for('delete', id=post['id']) }}" method="POST">
    <input type="submit" value="Apagar contribuição"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Tem certeza que deseja excluir essa contribuiçao?')">
</form>
{% endblock %}