{% extends 'base.html' %}

{% block content %}

<header id="topo">
      <h1> 3ª Igreja Presbiteriana de Carapicuíba</h1>
        <p class="lead text-justify">
        "Cada um contribua segundo propôs no seu coração, <br>
        não com tristeza ou por necessidade; porque Deus ama <br>
        ao que dá com alegria." <br>(2 Co 9.7)
        </p>

    <!--  <a class="botao nav-link" href="{{ url_for('create') }}">Fazer uma contribuição</a>--!>
  </header>

  <section id="contato">
      <h2>Sobre o projeto</h2>
      <p> Inserir texto sobre como geramos o projeto, e como ofertar... etc etc </p>
    <!--  <a href="#contato" class="botao"> Contato</a> --!>
  </section>

  <section id="sobre">
      <h2>Sobre o projeto</h2>
      <div>
          <h3>
              sobre o projeto - Dízimo - etc etc
          </h3>
          <p>
              COntar a história do dízimo brevemente
          </p>

      </div>
  </section>

  <section id="contato">
      <h2>Contato</h2>
      <p>Vem falar com a gente</p>
      <div>
          <p> <a hreg="11-00000-0000">(11)00000-0000</a></p>
          				<address>
					<ul class="list-unstyled">
							<a>Av. Amazonas, 1.255, <br>
							Cohab - Carapicuíba/SP<br></a>
                    </ul>
				</address>
      </div>

      <div>
          <p> <a hreg="mailto: contato@prebisterianacarapicuiba.com">E-mail: contato@prebisterianacarapicuiba.com</a></p>
      </div>

{% endblock %}