{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} 3ª Igreja Presbiteriana de Carapicuiba {% endblock %}</h1>

<p class="lead text-justify">

 "Cada um contribua segundo propôs no seu coração, <br>
 não com tristeza ou por necessidade; porque Deus ama <br>
    ao que dá com alegria." <br>(2 Co 9.7)
 </p>

 <footer id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12-sm-3 div1">
				<address>
					<ul class="list-unstyled">
							<a>Av. Amazonas, 1.255, <br>
							Cohab - Carapicuiba/SP<br></a>
						Fone: <a> tel 11-00000-0000</a>							</ul>
				</address>
			</div>

{% endblock %}



