{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Banco de Dados {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Nome do Contribuidor</label>
        <input type="text" name="title"
               placeholder="Nome do contribuidor" class="form-control"
               value="{{ request.form['title'] }}"
        </input>
    </div>

    <div class="form-group">
        <label for="content">Valor da contribuição:</label>
        <textarea name="content" placeholder="valor da contribuição"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="campanha">Campanha</label>
        <input type="text" name="campanha"
               placeholder="Campanha" class="form-control"
               value="{{ request.form['title'] }}"
        </input>
    </div>

<form action="http://localhost:5000/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="pic" />
        <input type="submit" value="Upload de arquivo"/>
    </form>


</form>
{% endblock %}